# Network costs configuration with ONLY network costs collection enabled
# All other components are disabled
global:
  prometheus:
    enabled: false
  grafana:
    enabled: false
  gmp:
    enabled: false

# Enable network costs collection
networkCosts:
  enabled: true
  imagePullPolicy: Always
  config:
    destinations:
      in-zone:
        # Loopback Addresses in "IANA IPv4 Special-Purpose Address Registry"
        - "127.0.0.0/8"
        # IPv4 Link Local Address Space
        - "169.254.0.0/16"
        # Private Address Ranges in RFC-1918
        - "172.16.0.0/12"
        - "192.168.0.0/16"
        # Remove the following local IP range for multi-AZ kubernetes:
        # - "10.0.0.0/8"
    services:
      # Enable all cloud providers for network costs
      amazon-web-services: true
      google-cloud-services: true
      azure-cloud-services: true

# Disable forecasting
forecasting:
  enabled: false

persistentVolume:
  enabled: false

# Disable Kubecost frontend
kubecostFrontend:
  enabled: false

# Disable Kubecost model
kubecostModel:
  enabled: false

# Disable Kubecost product configurations
kubecostProductConfigs:
  enabled: false

# Disable Ingress
ingress:
  enabled: false

agent: true

# Disable aggregator
kubecostAggregator:
  deployMethod: disabled

# Disable cloud cost
kubecostModel:
  cloudCost:
    enabled: false 


serviceMonitor:
  networkCosts:
    enabled: true
