opencost:
  metrics:
    kubeStateMetrics:
      emitNamespaceAnnotations: true
      emitPodAnnotations: true
  ui:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-demo"
      hosts:
        - host: demo.infra.opencost.io
          paths:
            - /
      tls:
        - secretName: opencost-tls
          hosts:
            - demo.infra.opencost.io
    image:
      fullImageName: ghcr.io/opencost/opencost-ui:develop-47f44a4
  mcp:
    ingress:
      enabled: true
      ingressClassName: "nginx"
      annotations:
        kubernetes.io/ingress.class: nginx
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: "letsencrypt-demo"
      hosts:
        - host: mcp-demo.infra.opencost.io
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: opencost-mcp-tls
          hosts:
            - mcp-demo.infra.opencost.io
  prometheus:
    internal:
      serviceName: prometheus-kube-prometheus-prometheus
      port: 9090
  exporter:
    prometheusDataSource:
      queryResolutionSeconds: "60"
    image:
      fullImageName: ghcr.io/opencost/opencost:develop-c7fd047
